@charset "UTF-8";
body {
  font-size: 1rem; }

/* на светлом фоне */
/* на темном фоне */
/* на светлом фоне */
/* на темном фоне */
html {
  font-size: 16px; }

body {
  font-size: 0.875rem;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #888888;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-overflo-scrolling: touch; }

a {
  text-decoration: none !important;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Comfortaa, sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  text-transform: uppercase;
  font-size: 3rem; }

h2 {
  font-size: 3rem;
  line-height: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.b1 {
  border: 4px solid red; }

.b2 {
  border: 4px solid green; }

.b3 {
  border: 4px solid yellow; }

.menuToggle {
  position: fixed;
  display: none;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
  background: #EA6905;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px #ff6f00;
          box-shadow: 0px 0px 5px #ff6f00;
  z-index: 999; }
  .menuToggle span, .menuToggle span:before, .menuToggle span:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    background: black; }
  .menuToggle span:before {
    content: '';
    margin-top: -6px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .menuToggle span:after {
    content: '';
    margin-top: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .menuToggle_active span {
    background-color: transparent; }
    .menuToggle_active span:before {
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg);
      margin-top: 0; }
    .menuToggle_active span:after {
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg);
      margin-top: 0; }

.menu_left {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 15rem;
  height: 100vh;
  background: #101010;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1; }
  .menu_left .logo_left {
    font-size: 4rem;
    color: #fffefe;
    padding-left: 3rem; }
    .menu_left .logo_left .small {
      font-size: 3rem; }
    .menu_left .logo_left .vertical {
      margin-top: -1.25rem;
      line-height: 1.25rem; }
      .menu_left .logo_left .vertical .block {
        font-size: 1rem;
        display: block; }
      .menu_left .logo_left .vertical .left {
        float: left;
        width: 1rem;
        margin-left: 0.4rem; }
      .menu_left .logo_left .vertical .right {
        float: left;
        width: 1rem;
        margin-left: 4.3rem; }
  .menu_left li {
    list-style-type: none; }
  .menu_left a {
    font-size: 1rem;
    color: #e3e3e3; }
    .menu_left a .dot {
      float: left;
      margin-right: 1rem;
      width: 1rem;
      height: 1rem;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: none;
      -webkit-transition-duration: 300ms;
              transition-duration: 300ms;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
              transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      background: none; }
    .menu_left a.active {
      /*font-weight: 700;*/
      /*border-top: 3px solid $c_blue;*/
      color: #ff4001; }
      .menu_left a.active .dot {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        background: #ff4001; }
    .menu_left a:hover:not(.active) {
      color: #fe6a39; }
      .menu_left a:hover:not(.active) .dot {
        -webkit-transform: scale(0.4);
            -ms-transform: scale(0.4);
                transform: scale(0.4);
        background: #fe6a39; }

.content {
  margin-left: 15rem; }

.title {
  position: relative;
  width: 18.062rem;
  background: #ccc;
  color: #ff4001;
  padding: 1.437rem 0rem;
  margin: 6.25rem 0 2rem -2.5rem;
  background-image: -webkit-linear-gradient(0deg, #ff6e02 0%, yellow 50%, #ffb600 74%, #ff6d00 100%);
  background-image: -ms-linear-gradient(0deg, #ff6e02 0%, yellow 50%, #ffb600 74%, #ff6d00 100%);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .title:hover {
    -webkit-transform: translate(0px, -20px);
        -ms-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
    -webkit-box-shadow: 14px 14px 25px 1px #000000;
            box-shadow: 14px 14px 25px 1px #000000; }

.triangle {
  background-image: -webkit-linear-gradient(100deg, #ff6f02 0%, rgba(255, 111, 2, 0) 100%);
  background-image: -ms-linear-gradient(100deg, #ff6f02 0%, rgba(255, 111, 2, 0) 100%);
  position: absolute;
  bottom: -1.7rem;
  width: 0px;
  height: 0px;
  border: 0.8rem solid transparent;
  border-top: 0.8rem solid #5f2d07;
  border-right: 0.8rem solid #5f2d07; }

.content_container {
  margin-top: 5rem;
  margin-bottom: 4.6875rem;
  margin-left: 3.125rem;
  margin-right: 2.75rem;
  line-height: 1.6;
  overflow: hidden; }

.section1, .section2, .section3, .section4, .section5, .section6 {
  min-height: 100vh; }

.section1 {
  background-image: url("../img/bg_section1_1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  .section1 .text1 {
    margin-top: 6.875rem; }
  .section1 .first_last_name {
    font-size: 6.5625rem;
    font-family: AR BONNIE, sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #fe6a39; }
    .section1 .first_last_name .first_char {
      font-size: 115%; }
  .section1 .design_and_development {
    font-size: 3.75rem;
    font-family: AR BONNIE, sans-serif;
    font-weight: 400;
    line-height: 0.8;
    color: #fffefe;
    margin-bottom: 2rem; }
    .section1 .design_and_development .first_char {
      font-size: 125%; }
  .section1 .photo {
    background-image: url("../img/bg_section1_photo.png");
    background-size: cover; }

.section2 {
  background: #444;
  background-image: url("../img/bg_section2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #888888; }
  .section2 .subtitle2 {
    font-size: 1rem;
    color: #f3f3f3; }
    .section2 .subtitle2:not(:first-child) {
      padding-top: 4rem; }
  .section2 ul {
    padding-left: 1.25rem; }
  .section2 li {
    padding-bottom: 1.25rem; }

.section3 {
  background: #000;
  background-image: url("../img/bg_section3.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .section3 .subtitle1 {
    font-size: 1.5rem;
    color: #ff4001; }
  .section3 .subtitle2 {
    font-size: 0.875rem;
    color: #f3f3f3; }
  .section3 .subtitle3 {
    font-size: 0.875rem;
    color: #fe6a39;
    font-weight: 800; }
  .section3 .skill_box {
    font-size: 0.75rem;
    margin-top: 1.625rem;
    margin-bottom: 1.625rem; }
  .section3 .skill_description_box {
    font-size: 0.875rem;
    margin-top: 2rem;
    color: #bebebe; }
    .section3 .skill_description_box #skill_description_box_desc {
      min-height: 7rem; }

.progress_bar_bg {
  width: 100%;
  height: 5px;
  background: #3d3d3d; }
  .progress_bar_bg .progress_bar_line {
    height: 5px;
    background: #747474; }
  .progress_bar_bg .progress_bar_line_active {
    background: #fe6a39; }

.section4 {
  font-size: 1rem;
  background: #444;
  background-image: url("../img/bg_section4.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .section4 .subtitle1 {
    font-size: 1.5rem;
    color: #ff4001; }
  .section4 .subtitle2 {
    font-size: 1.125rem;
    color: #f3f3f3; }
    .section4 .subtitle2:not(:first-child) {
      padding-top: 1.5rem; }
  .section4 ul {
    padding-left: 1.25rem; }

.section5 {
  background: #000;
  background-image: url("../img/bg_section5.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .section5 .box {
    max-width: 450px;
    position: relative;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .section5 .box:hover {
      outline: 2px solid #ff6f00;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .section5 .box_bg {
    position: relative; }
  .section5 .box_text {
    position: absolute;
    padding: 1.875rem;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #888888;
    background: #51250B;
    opacity: 0;
    overflow: hidden;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .section5 .box_text:hover {
      opacity: 1; }
    .section5 .box_text .t1 {
      color: #ffffff;
      font-size: 1.125rem;
      font-weight: 800; }
    .section5 .box_text .t2 {
      color: #f3f3f3;
      padding-top: 1rem;
      font-size: 1rem; }
  .section5 .button1 {
    font-size: 1.9375rem;
    -webkit-border-radius: 0.625rem;
            border-radius: 0.625rem;
    color: #ffffff;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 17rem;
    background: #EA6905; }
    .section5 .button1:hover {
      background: #ff6f00; }
    .section5 .button1:active {
      background: #EA6905; }

.section6 {
  font-size: 1.5rem;
  color: #f3f3f3;
  background: #444;
  background-image: url("../img/bg_section6.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .section6 .left {
    color: #ff4001; }
  .section6 .right {
    padding-left: 0;
    color: #fe6a39; }
  .section6 .form_input {
    width: 100%;
    border: 1px solid #69513f;
    background: #1e1e1e;
    -webkit-border-radius: 0.625rem;
            border-radius: 0.625rem;
    color: #ffffff;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .section6 .form_input:focus {
      border: 1px solid #fe6a39; }
  .section6 .button1 {
    font-size: 1.9375rem;
    -webkit-border-radius: 0.625rem;
            border-radius: 0.625rem;
    color: #ffffff;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 21.25rem;
    background: #EA6905; }
    .section6 .button1:hover {
      background: #ff6f00; }
    .section6 .button1:active {
      background: #EA6905; }

.section7 .footer {
  color: #bebebe;
  font-size: 0.875rem;
  padding: 1.25rem;
  background: #171717; }

@media (max-width: 34em) {
  html {
    font-size: 80%; }
  .menuToggle {
    display: block; }
  .content {
    margin-left: 0rem; }
  .content_container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: .125rem;
    margin-right: .75rem;
    line-height: 1.6;
    overflow: hidden; }
  .menu_left {
    display: block;
    white-space: nowrap;
    padding-top: 5rem;
    width: 15rem;
    left: -15rem;
    overflow: hidden;
    z-index: 900;
    opacity: 0.9; }
    .menu_left_active {
      left: 0; }
    .menu_left ul {
      padding-left: 2rem; }
    .menu_left a {
      font-size: 1.75rem; }
  .title {
    width: 100%;
    margin: 3.25rem 0 2rem 0; }
  .section5 .box_text {
    position: relative;
    padding: 1.875rem;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #888888;
    background: #51250B;
    opacity: 1; }
  .section1 .first_last_name {
    text-align: left;
    font-size: 4.75rem;
    line-height: 1; }
    .section1 .first_last_name .first_char {
      font-size: 125%; }
  .section1 .design_and_development {
    text-align: left;
    font-size: 2.375rem;
    line-height: 0.8; }
    .section1 .design_and_development .first_char {
      font-size: 125%; } }

@media (min-width: 34em) and (max-width: 47.9em) {
  html {
    font-size: 90%; }
  .menuToggle {
    display: block; }
  .content {
    margin-left: 0rem; }
  .content_container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: .125rem;
    margin-right: .75rem;
    line-height: 1.6;
    overflow: hidden; }
  .menu_left {
    display: block;
    white-space: nowrap;
    padding-top: 4rem;
    width: 15rem;
    left: -15rem;
    line-height: 0.8;
    overflow: hidden;
    z-index: 900;
    opacity: 0.9; }
    .menu_left_active {
      left: 0; }
    .menu_left ul {
      padding-left: 2rem; }
    .menu_left a {
      font-size: 1.75rem; }
  .title {
    width: 100%;
    margin: 3.25rem 0 2rem 0; }
  .section1 .first_last_name {
    text-align: left;
    font-size: 4.75rem;
    line-height: 1; }
    .section1 .first_last_name .first_char {
      font-size: 125%; }
  .section1 .design_and_development {
    text-align: left;
    font-size: 2.375rem;
    line-height: 0.8; }
    .section1 .design_and_development .first_char {
      font-size: 125%; } }

@media (min-width: 48em) {
  html {
    font-size: 100%; } }

@media (min-width: 64em) {
  html {
    font-size: 100%; } }
