html {
  font-size: 16px; }

body {
  font-size: .875rem;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflo-scrolling: touch; }

a {
  text-decoration: none !important;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
       -o-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

:active, :hover, :focus {
  outline: 0;
  outline: none;
  outline-offset: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Play, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3rem; }

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #de0e0e;
  margin-bottom: 5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.b1 {
  border: 4px solid red; }

.b2 {
  border: 4px solid green; }

.b3 {
  border: 4px solid yellow; }

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  color: gray;
  padding: 1rem 0;
  background-color: white;
  background-color: #242424; }
  .header img {
    margin: -1rem; }
  .header .menu_top {
    margin-top: 0.75rem; }
    .header .menu_top a {
      color: white;
      font-size: 1rem;
      font-family: Play, sans-serif;
      text-transform: uppercase;
      margin-right: 1.5rem;
      padding: 0.5rem 0.75rem; }
    .header .menu_top .active {
      /*font-weight: 700;*/
      /*border-top: 3px solid $c_blue;*/
      color: white; }
    .header .menu_top :hover {
      color: white;
      background-color: #444; }
  .header .phone {
    font-size: 1.125rem;
    font-weight: 600; }
  .header .btn {
    font-family: Comfortaa, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #F95800;
    border: 0;
    padding: 0.5rem 0.75rem; }
    .header .btn:hover {
      background-color: #E94800; }
    .header .btn:active {
      background-color: white;
      color: black; }

.section1 {
  background-image: url("../img/s1_bg.jpg");
  padding: 0; }
  .section1 .overlay_pattern {
    background-color: white;
    background-color: rgba(50, 50, 50, 0.8);
    padding-bottom: 10rem; }
  .section1 .hot_text {
    min-height: 22.562rem;
    margin-top: 5rem;
    padding-top: 1.9rem;
    background-image: url("../img/s1_bg_palm.png");
    -webkit-background-size: contain;
            background-size: contain;
    background-position: top center;
    background-repeat: no-repeat; }
    .section1 .hot_text h1 {
      color: #F95800;
      font-family: Play, sans-serif;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem; }
  .section1 .left {
    color: silver;
    padding-bottom: 2rem; }
    .section1 .left span {
      font-size: 1.25rem; }
  .section1 .right {
    color: silver;
    padding: 3rem;
    background: #181818;
    font-size: 0.875rem;
    -webkit-border-radius: 1rem;
            border-radius: 1rem; }
    .section1 .right h4 {
      color: white; }
    .section1 .right input {
      color: black;
      -webkit-border-radius: 0.25rem;
              border-radius: 0.25rem;
      border-style: solid;
      border-width: 1px;
      background-color: white;
      -webkit-box-shadow: inset -1.847px 2.364px 10px 0px rgba(0, 0, 0, 0.56);
              box-shadow: inset -1.847px 2.364px 10px 0px rgba(0, 0, 0, 0.56);
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
      -webkit-transition-duration: 200ms;
           -o-transition-duration: 200ms;
              transition-duration: 200ms;
      -webkit-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
           -o-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
              transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .section1 .right .btn {
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 2rem;
      background-color: #F95800;
      border: 0;
      padding: 0.75rem 1rem; }
      .section1 .right .btn:hover {
        background-color: #E94800; }
      .section1 .right .btn:active {
        background-color: white;
        color: black; }

.section2 {
  padding: 5rem 0; }

#phone_popup {
  position: relative;
  max-width: 20rem;
  width: auto;
  margin: 1rem auto;
  -webkit-border-radius: 0.7rem;
          border-radius: 0.7rem;
  padding: 2rem;
  color: white;
  background-color: #242424;
  bottom: 0px; }
  #phone_popup .mfp-close {
    background-color: #141414;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-border-radius: 0.7rem;
            border-radius: 0.7rem; }
  #phone_popup h4 {
    text-transform: none;
    margin-bottom: 1.875rem; }
  #phone_popup button {
    color: white;
    border: 0;
    background-color: #F95800;
    margin-top: 0.5rem; }
    #phone_popup button:hover {
      background-color: #D95800; }
    #phone_popup button:active {
      background-color: white;
      color: black; }
  #phone_popup input {
    color: black;
    -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    -webkit-box-shadow: inset -1.847px 2.364px 10px 0px rgba(0, 0, 0, 0.56);
            box-shadow: inset -1.847px 2.364px 10px 0px rgba(0, 0, 0, 0.56);
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
         -o-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*
@media (max-width: 34em) {
	html {
		font-size: 60%;
		}

}
@media (min-width: 34em) {
	html {
		font-size: 80%;
	}
}
@media (min-width: 48em) {
	html {
		font-size: 100%;
	}
}
@media (min-width: 64em) {
	html {
		font-size: 100%;
	}
}
*/
